h1 {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
  height: 100vh;
  width: 100vw;
}

.display-1 {
  font-size: 3vh;
  height: 10vh;
  padding-top: 2vh;
}

.app-container {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  flex: 1;
  padding-left: 4vw;
  padding-right: 4vw;
  width: calc(100vw - 8vw);
}
.app-container > * {
  flex: 1;
}
.matrix-title {
  text-align: center;
}